[Unit]
Description=Update Core Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/update-core
TimeoutStartSec=3600

[Install]
WantedBy=default.target
